body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:556px;
}
#u50 {
  position:absolute;
  left:430px;
  top:237px;
  width:312px;
  height:556px;
}
#u51 {
  position:absolute;
  left:2px;
  top:270px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:539px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:539px;
}
#u54 {
  position:absolute;
  left:2px;
  top:262px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:231px;
  top:247px;
  width:71px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u57 {
  position:absolute;
  left:223px;
  top:247px;
  width:79px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u59 {
  position:absolute;
  left:400px;
  top:18px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:130px;
}
#u61 {
  position:absolute;
  left:430px;
  top:17px;
  width:330px;
  height:130px;
  line-height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:302px;
  top:266px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u63_seg1 {
  position:absolute;
  left:47px;
  top:-242px;
  width:8px;
  height:246px;
}
#u63_seg2 {
  position:absolute;
  left:47px;
  top:-242px;
  width:51px;
  height:8px;
}
#u63_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u63_seg4 {
  position:absolute;
  left:84px;
  top:-248px;
  width:21px;
  height:20px;
}
#u64 {
  position:absolute;
  left:1px;
  top:-125px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:38px;
}
#u65 {
  position:absolute;
  left:231px;
  top:247px;
  width:71px;
  height:38px;
}
#u66 {
  position:absolute;
  left:2px;
  top:11px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:37px;
}
#u67 {
  position:absolute;
  left:430px;
  top:161px;
  width:125px;
  height:37px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BFCDD9;
}
#u69 {
  position:absolute;
  left:531px;
  top:635px;
  width:98px;
  height:27px;
  font-size:18px;
  color:#BFCDD9;
}
#u70 {
  position:absolute;
  left:0px;
  top:6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:130px;
}
#u71 {
  position:absolute;
  left:430px;
  top:205px;
  width:330px;
  height:130px;
  line-height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:830px;
  top:388px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:130px;
}
#u75 {
  position:absolute;
  left:860px;
  top:387px;
  width:330px;
  height:130px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:521px;
  top:747px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u77_seg1 {
  position:absolute;
  left:-5px;
  top:-353px;
  width:8px;
  height:357px;
}
#u77_seg2 {
  position:absolute;
  left:-5px;
  top:-353px;
  width:314px;
  height:8px;
}
#u77_seg3 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u77_seg4 {
  position:absolute;
  left:295px;
  top:-359px;
  width:21px;
  height:20px;
}
#u78 {
  position:absolute;
  left:-51px;
  top:-337px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:830px;
  top:496px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:130px;
}
#u81 {
  position:absolute;
  left:860px;
  top:495px;
  width:330px;
  height:130px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  line-height:20px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:669px;
  top:745px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  position:absolute;
  left:-4px;
  top:-243px;
  width:8px;
  height:243px;
}
#u83_seg1 {
  position:absolute;
  left:-4px;
  top:-243px;
  width:165px;
  height:8px;
}
#u83_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u83_seg3 {
  position:absolute;
  left:147px;
  top:-249px;
  width:21px;
  height:20px;
}
#u84 {
  position:absolute;
  left:-50px;
  top:-208px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
