body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:867px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:867px;
}
#u1 {
  position:absolute;
  left:2px;
  top:426px;
  width:527px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:7px;
  top:18px;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(152, 152, 152, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u3_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(26, 172, 25, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3.selected {
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  height:24px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  line-height:14px;
}
#u7 {
  position:absolute;
  left:69px;
  top:26px;
  width:41px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  line-height:14px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:117px;
}
#u9 {
  position:absolute;
  left:616px;
  top:23px;
  width:330px;
  height:117px;
  line-height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:101px;
  top:33px;
  width:0px;
  height:0px;
}
#u11_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:489px;
  height:8px;
}
#u11_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u11_seg2 {
  position:absolute;
  left:471px;
  top:-10px;
  width:21px;
  height:20px;
}
#u12 {
  position:absolute;
  left:192px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:586px;
  top:23px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:614px;
  top:150px;
  width:260px;
  height:182px;
}
#u16 {
  position:absolute;
  left:2px;
  top:83px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:34px;
  background:inherit;
  background-color:rgba(216, 229, 241, 1);
  border:none;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#323232;
}
#u17 {
  position:absolute;
  left:614px;
  top:324px;
  width:260px;
  height:34px;
  color:#323232;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u19 {
  position:absolute;
  left:711px;
  top:161px;
  width:65px;
  height:19px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(216, 229, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
  line-height:18px;
}
#u21 {
  position:absolute;
  left:717px;
  top:332px;
  width:49px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
  line-height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u23 {
  position:absolute;
  left:614px;
  top:185px;
  width:260px;
  height:1px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u25 {
  position:absolute;
  left:622px;
  top:190px;
  width:240px;
  height:60px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:56px;
}
#u27 {
  position:absolute;
  left:614px;
  top:365px;
  width:330px;
  height:56px;
  line-height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 205, 218, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:614px;
  top:431px;
  width:260px;
  height:145px;
}
#u31 {
  position:absolute;
  left:2px;
  top:64px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
  background:inherit;
  background-color:rgba(216, 229, 241, 1);
  border:none;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#323232;
}
#u32 {
  position:absolute;
  left:744px;
  top:542px;
  width:130px;
  height:34px;
  color:#323232;
}
#u33 {
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u34 {
  position:absolute;
  left:711px;
  top:442px;
  width:65px;
  height:19px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(216, 229, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
  line-height:18px;
}
#u36 {
  position:absolute;
  left:791px;
  top:550px;
  width:33px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
  line-height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:2px;
}
#u38 {
  position:absolute;
  left:614px;
  top:466px;
  width:260px;
  height:1px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-8px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u40 {
  position:absolute;
  left:622px;
  top:495px;
  width:239px;
  height:37px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
  background:inherit;
  background-color:rgba(216, 229, 241, 1);
  border:none;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#323232;
}
#u42 {
  position:absolute;
  left:615px;
  top:542px;
  width:133px;
  height:34px;
  opacity:0.5;
  color:#323232;
}
#u43 {
  position:absolute;
  left:2px;
  top:9px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
  background:inherit;
  background-color:rgba(236, 242, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
  line-height:18px;
}
#u44 {
  position:absolute;
  left:665px;
  top:550px;
  width:33px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
  line-height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u46 {
  position:absolute;
  left:725px;
  top:469px;
  width:33px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u48 {
  position:absolute;
  left:708px;
  top:247px;
  width:67px;
  height:67px;
}
#u49 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:56px;
}
#u50 {
  position:absolute;
  left:614px;
  top:586px;
  width:330px;
  height:56px;
  color:#000000;
  line-height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
